
    <div class="row" id="topRow">
      <a href="/"><button type="button" class="btn btn-warning" id="savedNotes">Home</button></a>
      <a href="/noway"><button type="button" class="btn btn-info" id="savedNotes">Saved Notes</button></a>
      <button type="button" class="btn btn-danger" id="scraperBtn">Scrape more news!</button>
    </div>

    <div id="wrapper">
  
      <h1 id="firstPageTitle">r/News Scraper</h1>
      
      <div id="articlesHome">
        {{#each articles}}
        <div class='row clickArticle' data-id='{{this._id}}'>
          <p>
          <div class='col-md-10'>
            <h3>{{this.title}}</h3>{{this.link}}
          </p>
          </div>
          <div class='col-md-2'>

            {{#if this.saved}}
            <button type='button' id='alreadySaved' data-id='{{this._id}}' class='btn btn-info'>Saved!</button>
            {{else}}
            <button type='button' id='saveArticleBtn' data-id='{{this._id}}' class='btn btn-info'>Save Article</button>
            {{/if}}


          </div>
        </div>
        {{/each}}
      </div>

    </div>